* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Font */
@font-face {
    font-family: 'Din Pro Light';
    src: url('../Assets/Fonts/DINpro\ Light.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

.logo {
  display: flex;
  width: 260px;
  justify-content: start;
}

.navbar__icons {
  display: none;
}

.navbar__icon {
  width: 30px;
  height: auto;
}

h1 {
  margin-bottom: 15px;
}

h3 {
  font-family: "Saol Display Bold";
  font-size: 1.8rem;
}

ul {
  list-style-type: none;
}

/* Navbar */
.navbar .container {
  max-width: 100%;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar {
  background: #33261e;
  color: #fff;
  height: 80px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-family: "Din Pro Light";
}

.navbar a:hover, .navbar a:active {
  color: #7a6f68;
}

/* Mobile Nav */

.mobile-nav {
  display: flex;
  position: fixed;
  opacity: 0;
  transform: translateX(-100vw);
  transition: transform 400ms ease, opacity 400ms ease;

  height: 100vh;
  width: 100vw;
  background-color: #33261e;
}


.mobile-nav__items {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0;
}

.mobile-nav__item {
  margin-top: 120px;
  list-style-type: none;
  display: flex;
}

.mobile-nav__item a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-family: "Din Pro Light";
}

.mobile-nav a:active {
  color: #7a6f68;
}

/* for js only */
.open {
  opacity: 1;
  transform: translateX(0);
}

/* Flex container */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar ul {
  display: flex;
  
}

.navbar ul li {
  margin-left: 30px;
}

/* Footer */
/* Flex container */
footer .container {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 100%;
}

footer a {
  text-decoration: none;
  margin: 20px;
}

footer ul {
  display: flex;
}

footer {
  background: #000000;
  height: 120px; 
}

@media (max-width:1024px) {
  .title {
    display: none;
  }
}

@media (max-width:768px) {
  .navbar ul {
    display: none;
  }

  .navbar__icons {
    display: flex;
  }

  .logo {
    justify-content: center;
  }

  .close-menu {
    visibility: hidden;
  }
}

